nav {
  width: 100%;
  background: #333;
  padding: 2vh;
  color: white;
  position: fixed; 
  top: 0;
  left: 0;
  height:1vw;
  display: flex;
  align-items: center;
  box-shadow: 3px 1px 5px black;

}

ul{
    position: fixed;
    list-style: none;
}

li{
    transition: 0.15s;
}

li:hover{
    cursor:pointer;
    font-size: 110%;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


table{
  height: 60vh;
  width: 60vh;
  margin-top: 0vh;
  border-spacing: 3vh;
  background-color: #454444;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
}

td{
  transition: 0.25s;
  border-radius: 15%;
  background-color: #919090;
}

#mineMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 12vh;
  width: 40vh;

  background-color: #454444;
  border-radius: 15px;
  box-shadow: 0px 3px 15px black;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  color: white;
}




td:hover{
  scale:1.05;
  cursor: pointer;
  background-color: #bdba26;
}

