<nav>
  <div class="nav-left">
    <span class="logo">Casino</span>
  </div>
  <div class="nav-right">
    <div class="balance-display">
      <span class="balance-label">Balance:</span>
      <span class="balance-amount">{{denar}}</span>
    </div>
  </div>
</nav>

<div class="card"
     *ngFor="let card of drawnCards; let i = index" 
     [id]="'c' + (i + 1)" 
     (click)="cardClick(card)" 
     [class.selected]="card.clicked">
  <span class="card-type">{{ card.cardType }}</span>
</div>

<button (click)="startGame()">OK</button>

